#modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--border-dark);
    z-index: 1000;
    transition: all ease .5s;
}

#modal-body {
    background-color: var(--bg-primary);
    flex-direction: column;
}

#modal-content {
    margin-top: -1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--bg-primary);
}

#modal-content > * {
    width: -webkit-fill-available;
}

#close-modal {
    align-self: flex-end;
    margin: 0;
    font-family: cursive;
    translate: 13px -14px;
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 5px;
    color: var(--color-primary);
    background: var(--color-secondary);
    border: 3px solid var(--bg-primary);
}

#AlertIcon{
    margin: auto;
    max-width: 115px;
    max-height: 115px;
}